<aside class="maps-rail" aria-label="Investor map types">
  <p class="maps-rail-label">Map types</p>
  <ul class="maps-rail-list">
    <li><a class="maps-rail-link{% if mapType == 'locators' %} is-active{% endif %}" href="locators-area-plays.html"><span class="maps-rail-num">01</span><span class="maps-rail-text">Locators &amp; Area Plays</span></a></li>
    <li><a class="maps-rail-link{% if mapType == 'property-target' %} is-active{% endif %}" href="property-target.html"><span class="maps-rail-num">02</span><span class="maps-rail-text">Property &amp; Target</span></a></li>
    <li><a class="maps-rail-link{% if mapType == 'geoscience' %} is-active{% endif %}" href="geoscience-maps.html"><span class="maps-rail-num">03</span><span class="maps-rail-text">Geo / Geochem / Geophys</span></a></li>
    <li><a class="maps-rail-link{% if mapType == 'sections' %} is-active{% endif %}" href="sections.html"><span class="maps-rail-num">04</span><span class="maps-rail-text">Sections &amp; Long Sections</span></a></li>
    <li><a class="maps-rail-link{% if mapType == 'models' %} is-active{% endif %}" href="3d-models.html"><span class="maps-rail-num">05</span><span class="maps-rail-text">3D Isometric Models</span></a></li>
    <li><a class="maps-rail-link{% if mapType == 'conceptual' %} is-active{% endif %}" href="conceptual-schematic.html"><span class="maps-rail-num">06</span><span class="maps-rail-text">Conceptual &amp; Schematic</span></a></li>
  </ul>
  <a class="maps-rail-all" href="investor-maps.html">All investor maps &rarr;</a>
</aside>
